*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background:whitesmoke;
}
@media screen and (max-width: 576px){
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .hide-on-small{
        display: none !important;
    }
}
header{
    padding: 15px;
    button{
       background-color: #000000;
       color: #ffffff !important;
       margin-top: 10px !important;
    }

    .navbar-brand{
        color: #ffffff;
        font-weight: bold;
        margin-top:5px !important;
    }

   input{
       width:45vw !important;
   }
   .nav-link{
       color: #ffffff;
       font-weight: bold;
   }
   @media screen and (max-width: 872px) {
    input{
          width: 40vw !important;
      }
  }
  @media screen and (max-width: 700px) {
    input{
          width: 39vw !important;
      } 
    .rc{
        .nav-item{
            margin-left: -10px;
        }
        .nav-link{
            margin-left: -10px;
        }
    } 
  }
  @media screen and (max-width: 646px) {
    input{
          width: 34vw !important;
      } 
    .rc{
        .nav-item{
            margin-left: -15px;
        }
        .nav-link{
            margin-left: -15px;
        } 
    } 
  }
  @media screen and (max-width: 576px) {
    input{
          width: 90vw !important;
          margin-left: 15px;
      } 
     button{
         margin-top: 12px;
     } 
     .navbar-brand{
      
        margin-top: 5px;
     }   
    .lc{
        display: none;
    }
    .rc{
        .nav-item{
            margin: 0 !important;
            font-size: 25px;
        }
        .nav-link{
            margin: 0 !important;
        }
    }
  }
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .nav-link {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: .875rem;
      }
  }
.sub-menu{
    .nav-link{
        color: #000000;
        font-weight: bold;
    }
}
.carousel-sec{
    .carousel-inner{
        height: 50vh !important;
    }
    .carousel-item{
        img{
            height: 50vh !important;
        }
    }
@media screen and (max-width: 576px){
    .carousel-inner{
        height: 25vh !important;
    }
    .carousel-item{
        img{
            height: 25vh !important;
        }
    }
   }
    
}

.card-header{
        color: #4b2a2a;
        font-weight: bold;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
}

.product-card{
    height: 17rem;
    width: 12rem;
    border: none;
    img{
        height: 10rem;
        width: 10rem;
    }
    img:hover {
       -ms-transform: scale(1.01); /* IE 9 */
       -webkit-transform: scale(1.01); /* Safari 3-8 */
       transform: scale(1.01); 
     }
    a{
       text-decoration: none;
   }
    .card-body{
        .card-title{
            font-size: 1rem;
            font-weight: bold;
            color: #000000;
        }
        .card-text{
            font-size: .7rem;
            font-weight: lighter;
            color: #10a85c;
        }
    }
}

.owl{
    .product-card{
       width: 10rem !important;
       height: 17rem;
    }    
}

.banner{
    @media screen and (min-width: 800px){
        .card{
            img{
                height:250px !important;
            }
        }
    }  
}
.home-sec{
    .card-body{
        @media screen and (max-width: 576px){
            .product-card{
                height: 15rem;
                width: 10rem;
                overflow: hidden;
                img{
                  height: 8rem;
                  width: 8rem;
                }
          }
        }
    }    
}

.product_page{
    .filter{
       .card{
           .card-title{
               padding: 10px;
               font-size: 18px;
               font-weight: bold;
           }
       } 
        ul{
            margin-top: -15px;
        }
        ul li{
            list-style-type: none;
            padding: 10px; 
        }
        a{
           text-decoration: none;
       }
    }
    .product_sec{
        .card-header{
            font-size: 1rem;
            font-weight: bold;
            color: #000000;
        }
        .card-body{   
             .card{            
                 border: none;            
                 .card-footer{
                     border: none;
                     background: none;
                     .title{
                         color: #000000;
                         font-weight: bold;
                         font-size: 1rem;
                     }
                     a{
                         text-decoration: none;
                     }
                 }
             }       
                
        }
        

    }
}